html{
    height: 100%;
}

body {
    background-color: black;
    height: 100%;
    overflow: hidden;
}

.main {
    width: 50%;
    height: 20%;
    margin: auto;
    display: grid;
    align-content: center;
    text-align: center;
}


#temp {
    text-decoration: none;
    font-family: monospace;
    color: chartreuse;
    font-size: 3rem;
}

#temp:hover {
    color: greenyellow;
    font-size: 3.5rem;
    transition: 750ms;
}


#alpha {
    color: black;
    font-family: monospace;
    font-size: 1.5rem;
}

#kappa {
    color: azure;
    font-family: monospace;
    font-size: 1.5rem;
}

.gamma {
    background-color: coral;
    border: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    
    width: 55%;
    height: 50%;
    display: grid;
    align-content: center;
    margin: auto;
    border-radius: 5px;
    text-decoration: none;
}

#iota {
    color: aliceblue;
    font-family: monospace;
    font-size: 2rem;
    padding: 1rem;
}